@import 'vars.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-white);
    font-family: var(--font-main);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;
}
