:root {
    /* Identidad CodeFlix Romance */
    --primary-color: #E4007C; /* Rosa Mexicano */
    --primary-hover: #c2006a;
    
    /* Base Oscura */
    --bg-dark: #141414;
    --bg-card: #1f1f1f;
    --text-white: #ffffff;
    --text-gray: #b3b3b3;
    
    /* Espaciado y Fuentes */
    --font-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --container-width: 1200px;
}
